#{extends 'main.html' /}
#{set title:'Tabelltipp' /}


<div id="tabell" class="span3">

    #{form @Bets.save()}
    <ul class="sortable">
        <li class="btn" id="${bet.p1.id}">${bet.p1.name}<input type="hidden" id="bet_p1" name="bet.p1.id" value="${bet.p1.id}"/></li>
        <li class="btn" id="${bet.p2.id}">${bet.p2.name}<input type="hidden" id="bet_p2" name="bet.p2.id" value="${bet.p2.id}"/></li>
        <li class="btn" id="${bet.p3.id}">${bet.p3.name}<input type="hidden" id="bet_p3" name="bet.p3.id" value="${bet.p3.id}"/></li>
        <li class="btn" id="${bet.p4.id}">${bet.p4.name}<input type="hidden" id="bet_p4" name="bet.p4.id" value="${bet.p4.id}"/></li>
        <li class="btn" id="${bet.p5.id}">${bet.p5.name}<input type="hidden" id="bet_p5" name="bet.p5.id" value="${bet.p5.id}"/></li>
        <li class="btn" id="${bet.p6.id}">${bet.p6.name}<input type="hidden" id="bet_p6" name="bet.p6.id" value="${bet.p6.id}"/></li>
        <li class="btn" id="${bet.p7.id}">${bet.p7.name}<input type="hidden" id="bet_p7" name="bet.p7.id" value="${bet.p7.id}"/></li>
        <li class="btn" id="${bet.p8.id}">${bet.p8.name}<input type="hidden" id="bet_p8" name="bet.p8.id" value="${bet.p8.id}"/></li>
        <li class="btn" id="${bet.p9.id}">${bet.p9.name}<input type="hidden" id="bet_p9" name="bet.p9.id" value="${bet.p9.id}"/></li>
        <li class="btn" id="${bet.p10.id}">${bet.p10.name}<input type="hidden" id="bet_p10" name="bet.p10.id" value="${bet.p10.id}"/></li>
        <li class="btn" id="${bet.p11.id}">${bet.p11.name}<input type="hidden" id="bet_p11" name="bet.p11.id" value="${bet.p11.id}"/></li>
        <li class="btn" id="${bet.p12.id}">${bet.p12.name}<input type="hidden" id="bet_p12" name="bet.p12.id" value="${bet.p12.id}"/></li>
        <li class="btn" id="${bet.p13.id}">${bet.p13.name}<input type="hidden" id="bet_p13" name="bet.p13.id" value="${bet.p13.id}"/></li>
        <li class="btn" id="${bet.p14.id}">${bet.p14.name}<input type="hidden" id="bet_p14" name="bet.p14.id" value="${bet.p14.id}"/></li>
        <li class="btn" id="${bet.p15.id}">${bet.p15.name}<input type="hidden" id="bet_p15" name="bet.p15.id" value="${bet.p15.id}"/></li>
        <li class="btn" id="${bet.p16.id}">${bet.p16.name}<input type="hidden" id="bet_p16" name="bet.p16.id" value="${bet.p16.id}"/></li>
    </ul>

    <br/>

    <input type="submit" class="btn btn-primary btn-large" value="Lagre"/>
    #{/form}

</div>

<div class="span3">
    <h4>Regler</h4>

    <p>
        Reglene er enkle. Tipper du riktig tabell får du 100 poeng. For hver posisjon du gjetter feil, beregnes et poengtrekk.
    </p>

    <p>
        Formelen for poengtrekk bruker poengdifferansen til det laget du har tippet for en gitt posisjon og poengsummen til det laget
        som innehar den gitte posisjonen.
    </p>
    <p>
        Har du f.eks tippet <i>Brann</i> på førsteplass, men der ligger <i>Sogndal</i> med <i>4</i> poeng mer enn bra, da får du 4 poeng i trekk for førsteplassen, osv.
    </p>
    <p>
        Din totale poengsum beregnes slik: <br/> <i>sum = 100 - (poengtrekk / 2)</i>
    </p>
</div>
