#{extends 'main.html' /}
#{set title:'Tabelltipp' /}

<div class="span-6">
    <ol>
        <li>${bet.p1.name}</li>
        <li>${bet.p2.name}</li>
        <li>${bet.p3.name}</li>
        <li>${bet.p4.name}</li>
        <li>${bet.p5.name}</li>
        <li>${bet.p6.name}</li>
        <li>${bet.p7.name}</li>
        <li>${bet.p8.name}</li>
        <li>${bet.p9.name}</li>
        <li>${bet.p10.name}</li>
        <li>${bet.p11.name}</li>
        <li>${bet.p12.name}</li>
        <li>${bet.p13.name}</li>
        <li>${bet.p14.name}</li>
        <li>${bet.p15.name}</li>
        <li>${bet.p16.name}</li>
    </ol>
</div>