#tabell ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#tabell li {
    margin: 5px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

input[type=text] {
    height: 22px;
    width: 200px;
}

body {
    background-color: #fafafa;
}
