#{extends 'main.html' /}
#{set title:'Tabelltipp' /}

<div class="row">
    <div class="span8">
        <h4>${user.name} | ${user.email}</h4>
    </div>
</div>

<div class="row">

    <div class="span4">

        <h3>Mine ligaer</h3>

        <table class="table table-bordered">
            #{list user.groups}
            <tr>
                <td>${_.name}</td>
                <td>${_.members.size()}</td>
                <td><a href="/groups/${_.id}">Vis</a></td>
            </tr>
            #{/list}
        </table>

        <a href="/groups" class="btn">Finn en liga!</a>
        <a href="/groups/create" class="btn btn-primary">Lag en liga!</a>
    </div>

    <div class="span-4">
        #{if user.bet}
        <h3>Mitt tips</h3>
        <ol>
            <li>${user.bet.p1.name}</li>
            <li>${user.bet.p2.name}</li>
            <li>${user.bet.p3.name}</li>
            <li>${user.bet.p4.name}</li>
            <li>${user.bet.p5.name}</li>
            <li>${user.bet.p6.name}</li>
            <li>${user.bet.p7.name}</li>
            <li>${user.bet.p8.name}</li>
            <li>${user.bet.p9.name}</li>
            <li>${user.bet.p10.name}</li>
            <li>${user.bet.p11.name}</li>
            <li>${user.bet.p12.name}</li>
            <li>${user.bet.p13.name}</li>
            <li>${user.bet.p14.name}</li>
            <li>${user.bet.p15.name}</li>
            <li>${user.bet.p16.name}</li>
        </ol>

        <a href="/bets" class="btn">Endre tips</a>
        #{/if}

        #{else}
        <a href="/bets" class="btn">Registrer dine tips!</a>
        #{/else}
    </div>
</div>