#{extends 'main.html' /}
#{set title:'Tabelltipp' /}

<h3>${user.name}</h3>
<h4>${user.email}</h4>

#{if user.bet}

<h3>Mitt tips</h3>

<div class="span-6">
    <ol>
        <li>${user.bet.p1.name}</li>
        <li>${user.bet.p2.name}</li>
        <li>${user.bet.p3.name}</li>
        <li>${user.bet.p4.name}</li>
        <li>${user.bet.p5.name}</li>
        <li>${user.bet.p6.name}</li>
        <li>${user.bet.p7.name}</li>
        <li>${user.bet.p8.name}</li>
        <li>${user.bet.p9.name}</li>
        <li>${user.bet.p10.name}</li>
        <li>${user.bet.p11.name}</li>
        <li>${user.bet.p12.name}</li>
        <li>${user.bet.p13.name}</li>
        <li>${user.bet.p14.name}</li>
        <li>${user.bet.p15.name}</li>
        <li>${user.bet.p16.name}</li>
    </ol>

    <a href="/bets" class="btn">Endre tips</a>
</div>

#{/if}
#{else}
<a href="/bets" class="btn">Registrer dine tips!</a>

#{/else}
