#{extends 'main.html' /}
#{set title:'Home' /}


<table>
    <thead>
    <tr>
        <th width="200px">Bruker</th>
        <th>Poeng</th>
    </tr>
    </thead>
    #{list items:brukere, as:'bruker'}
    <tr>
        <td><a href="@{Application.visBruker(bruker.id)}">${bruker.navn}</a></td>
        <td>${bruker.score}</td>
    </tr>
    #{/list}

</table>

<hr/>

#{ifErrors}
<p class="error">Oops…</p>
#{/ifErrors}


#{form @Application.tipp()}

<div id="tabell" class="prepend-2 span-7">
    <ol id="sortable">
        #{list items:lag, as:'l'}
        <li class="ui-state-default" id="${l.id}">${l.navn}</li>
        <input type="hidden" id="tips_${l_index - 1}" name="tips[${l_index - 1}]" value="${l.id}"/>
        #{/list}
    </ol>
</div>

<div class="span-15 last">

    Ditt navn <br/>
    <input type="text" name="navn" value=""/>
    <br/>
    Epost <br/>
    <input type="text" name="epost" value=""/>

    <br/>
    <br/>
    <input type="submit" value="Lever dine tips!"/>
</div>

#{/form}