#{extends 'main.html' /}
#{set title:'Home' /}

<div class="span-10">
    <table>
        <thead>
        <tr>
            <th width="200px">Bruker</th>
            <th>Poeng</th>
        </tr>
        </thead>
        #{list items:brukere, as:'bruker'}
        <tr>
            <td><a href="@{Application.visBruker(bruker.id)}">${bruker.navn}</a></td>
            <td>${bruker.score}</td>
        </tr>
        #{/list}

    </table>
</div>

<div class="prepend-1 span-13 last">
    <table>
        <thead>
        <tr>
            <th>tips</th>
            <th>Fasit</th>
            <th>Poeng</th>
        </tr>
        </thead>
        #{list items:tabell, as:'lag'}
        <tr>
            <td>${lag.navn}</td>
            <td>${lag.navn}</td>
            <td>${lag.poeng}</td>
        </tr>
        #{/list}

    </table>

</div>