#{extends 'simple.html' /}
#{set title:'Tabelltipp' /}

<br/>
<br/>
<div id="login">

    #{form @createProfile(), class:'form-signin'}

    #{ifErrors}
    <p class="text-warning">Kunne ikke registere deg: #{error 'user.name' /} #{error 'user.email' /} #{error 'user.password' /}</p>
    #{/ifErrors}

    <h2 class="form-signin-heading">Registrer deg</h2>

    <input type="text" name="user.name" id="name" class="input-block-level" placeholder="Navn" value="${flash['user.name']}">
    <input type="text" name="user.email" id="email" class="input-block-level" placeholder="Epost-adresse" value="${flash['user.email']}">
    <input type="password" name="user.password" id="password" value="" class="input-block-level" placeholder="Passord">
    <button class="btn btn-large btn-primary" id="signin" type="submit">Gå videre</button>
    #{/form}

</div>