#{extends 'main.html' /}
#{set title:'Home' /}

<div class="span-13 last">


    #{form @Application.lagreTabell()}

    <table>
        <thead>
        <tr>
            <th>Lag</th>
            <th>Poeng</th>
        </tr>
        </thead>
        #{list items:tabell, as:'lag'}
        <tr>
            <td>${lag.navn}</td>
            <td>
                <input type="text" name="tabell[${lag_index - 1}].poeng" value="${lag.poeng}" style="width: 40px;"/>
                <input type="hidden" name="tabell[${lag_index - 1}].id" value="${lag.id}"/>
            </td>
        </tr>
        #{/list}

    </table>

    <input type="submit" value="Lagre"/>

    #{/form}

</div>
