#{extends 'main.html' /}
#{set title:'Home' /}

<div class="span-10">
    <table>
        <thead>
        <tr>
            <th width="200px">Bruker</th>
            <th>Poengsum</th>
        </tr>
        </thead>
        #{list items:brukere, as:'b'}
        <tr class="${b == bruker ? 'active' : ''}">
            <td><a href="@{Application.visBruker(b.id)}">${b.navn}</a></td>
            <td>${b.score}</td>
        </tr>
        #{/list}

    </table>
</div>

<div class="prepend-1 span-13 last">
    <table>
        <thead>
        <tr>
            <th>${bruker.navn}'s tips</th>
            <th>Fasit</th>
            <th>Minuspoeng</th>
        </tr>
        </thead>
        #{list items:bruker.tabellPoeng, as:'t'}
        <tr>
            <td>${t.tips.lag.navn}</td>
            <td>${t.fasit.navn}</td>
            <td>${t.score}</td>
        </tr>
        #{/list}

    </table>

    <p class="small">* Poengsum = 100 - minuspoeng / 2</p>

</div>
